<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <configProtectedData>
    <providers>

      <clear/>

      <remove name="RSAProtectedConfigurationProvider" />

      <add name="RSAProtectedConfigurationProvider" keyContainerName="azureconfig"
     type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0,&#xD;&#xA;                
Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a,&#xD;&#xA; processorArchitecture=MSIL"
           useMachineContainer="true" />

    </providers>
  </configProtectedData>
  
  <connectionStrings configProtectionProvider="RsaProtectedConfigurationProvider" xdt:Transform="Replace" >
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#tripledes-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>Rsa Key</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>jh8bYdissVAP2IV7hCkhxBITwixwcbSS3NGroYbkIZgztCeyNuOgKizQURflXGLScnJZeUp+24HNxw+/JxNwWZhG6jkXTeXRjF14ZPDaLQtYBR00UVuZQzkq9xHSC24D1XTXyRROi7gyCqdBId4onSh5/Fd+o/BnYI8F0Yf9NTU=</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>P4NTrhpXrDril0UI4towgv4ec8lCxbq8YoN14qb7z7XH8oFbyibWbGC6/ZlxZw42G1mNtIB8yBG9+K5LGjeGYnwjrxjIOF8mfXtFcZGIMTe/7y2UzcE4i4wT8AaqQ2fUVVtR96/yNegHeGn6YDzob9+aF1PwT0hZC5kTmfuUFlKxY5t1PkOSyee5PrZA/IRKhMRW2ryoMdkVAlZdMF8NoibPETfJKUhYUdk5SsmVEArCy7o7NP03mbO+tXWZv7aZCg4aLQz8rwwIFEFlYDrbvlrT0F1lp/oAnuTQMPuZ3D+aMVWwPdO5vb7aIWk/IVDKxODZ3yuKGjkOApYxZMymbWG3WRGcb0slXpsbA5tiQfM=</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>

  
  <system.web>
    
    <compilation xdt:Transform="RemoveAttributes(debug)"  />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>