<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit http://go.microsoft.com/fwlink/?LinkId=125889 -->


<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">

  <connectionStrings configProtectionProvider="CustomProvider" xdt:Transform="Replace">
    <EncryptedData Type="http://www.w3.org/2001/04/xmlenc#Element"
      xmlns="http://www.w3.org/2001/04/xmlenc#">
      <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#aes192-cbc" />
      <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
        <EncryptedKey xmlns="http://www.w3.org/2001/04/xmlenc#">
          <EncryptionMethod Algorithm="http://www.w3.org/2001/04/xmlenc#rsa-1_5" />
          <KeyInfo xmlns="http://www.w3.org/2000/09/xmldsig#">
            <KeyName>rsaKey</KeyName>
          </KeyInfo>
          <CipherData>
            <CipherValue>W5A0/xv3SO93kTsYKI4pMLMKknii1epytT1JuyX2MecuS5XgqmRnR3W02djIBZi5ntA9QXTFgnH6QCtfprRmBCF2OXR5qAXh4Z0YeJh/ofEJ94hPZUkpOsItO7UomcPeGOBtxS+gIlBxeZSYsV2XxIu7oNQeTHXasvokd4miWLqGEBcUysNnlzMH6lWXm5uWZZUORLnDGNmRLzpCu/asd2QurxKdaJAAhsvUsEgC7J84eKRWFxZj6+buJof0Akck33amR5csTgIr4yfBTYBNJBXFo1KlzJVPo9FSdLEBYQjy5Cd8/A+pc3VyQ4SC/1qwRvEo1mkPF6WT9FYayyMX0Q==</CipherValue>
          </CipherData>
        </EncryptedKey>
      </KeyInfo>
      <CipherData>
        <CipherValue>k7hqGyz5LotoYyw5DOh8+3H4Arlnz7pLnFn/rxvxTSq/2BAiW/I11qKO7FiX5EId0vsNKCcErFq31xXlZcLzNFquHFZIPEbOax61gFLHLFcTCktKun4HLWWnzfOcuQy5xY/B8ifSn/bbbOmLN7kEVMdeSODdofEdMhgS//5NiREZRZoJODI+QtPApL9cciuhh/wbgijSrmlqcphZe/lJAkrNABQxeKXVYp0z98jDGltRDc8kqvm80vDpIwWuVf1zMa/cEFHsjsa6zBlOEBJHgE9J5Yxh7EEEIWSyhP037WuiqfVRQUR8JHEvxl5Ex2lrzfAl3YCHTHoW8HcbngIWx7ROJrqQGg+w839I7JQ63M2j3ukPq9CS0HNVB/+wjrlUIlFDiczpnD3FUSnh337iC3Hdn5Url5C7C+7d1/U16pgoXfLUESXNJun3m0JNOnEssx2LsQeCq7lLEZmfTYuzwUDunvImrA87mMiOXtuQnRSRXK+c/t8zMNgiudpy5LTtpaoZ8JUWg+Wn24a+YfoLooDK/4GId43mgKmkgdfSDDJT3QkXfV0emWFhPmsmVsRA4bcYboAVZDP3Gd9nfRJccRCET0fx1gMU0iYpoyQEKYs=</CipherValue>
      </CipherData>
    </EncryptedData>
  </connectionStrings>
  <system.web>
    
    <compilation xdt:Transform="RemoveAttributes(debug)"  />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>