@{
	ViewBag.Title = "About";
}

<div class="tutorial section">
	<h2>About</h2>

	<p>
		My Name is Kelly Gendron - I'm a software developer with around 8 years of experience with .Net.
		I love C# and MVC, and have enough experience with webforms to completely justify my hatred towards it.
		I'm starting this site as a place for rants, articles, projects, and troubleshooting logs.
	</p>

	<p>
		Most of my free time is spent starting new projects and then getting distracted by other new projects.
		If this site is complete it is only because my co-wokers kept sending me bug reports about it.
		Beyond that my spare time is spent on maintaining my small zoo's worth of reptiles and inverts,
		and obsessively hoarding broken electronics.
	</p>

	<p>

	</p>
</div>