@{
	DisplayTitle = "About";
	PageTitle = "404htm - About";
}

<div class="panel panel-default sys-panel">
	<div class="panel-heading">
		<h3>About</h3><span class="ui-icon ui-icon-newwin"></span>
	</div>

	<div class="panel-body content">
		<p>
			My Name is Kelly Gendron - I'm a software developer with around 8 years of experience in .Net.
			Professionally I've spent most of my time designing and building webb applications for finance/insurance.
			My weapon of choice is C#/Asp.Net MVC/Javascript, I'm also borderline obsessed with linqpad.
			My dislikes are webforms, drag and drop anything, and every line of code that I wrote more than six months ago.
		</p>

		<p>
			Most of my free time is spent starting new projects and then getting distracted by other new projects.
			If this site is complete it is only because my co-wokers kept sending me bug reports about it.
			Beyond that my spare time is spent on maintaining my small zoo's worth of reptiles and inverts,
			and obsessively hoarding broken electronics.
		</p>

		<p>
			I have an annoying tendency to remember when I've solved problems, but not how.
			I'm planning to use this site as a place to document some of these solutions along with some more in-depth research topics.
			This will likely also be a dumping ground for my sideprojects and scripts.
			Hoping others will find this useful as well... mainly so I can finally atone for that one really "clever" dependency framework I wrote as a junior dev.
		</p>
	</div>

	<div class="tags post-footer">
	</div>

</div>